<v-container grid-list-xs id="homepage">
  <v-layout>
    <v-flex xs4 class="pr-3">
      <v-layout column>
      <% if (me) { %>
        <v-flex class="mb-5">
          <side-menu
            :menu-items="[
                {id:0,divider:1,title:'Просмотры',link:'/profile/views',icon:'visibility',count:<%=views.total %>,newCount:<%=views.new %>},
                {id:1,divider:1,title:'Вы нравитесь',icon:'sentiment_satisfied',count:2,newCount:0},
                {id:2,divider:1,title:'Вам нравятся',icon:'how_to_reg',count:4,newCount:0},
                {id:3,divider:1,title:'Взаимные симпатии',icon:'whatshot',count:4,newCount:3},
                {id:4,divider:1,title:'Дневники',icon:'local_library',count:'»'},
                {id:5,title:'Новости сайта',icon:'new_releases',newCount:3}]"
          ></side-menu>
        </v-flex>
      <% } %>
        <v-flex>
          <v-card class="mb-3">
            <v-list two-line subheader>
              <v-subheader>Последние новости</v-subheader>
            
              <v-list-tile ripple href="#" avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title>сегодня</v-list-tile-sub-title>
                  <div class="diary-art">6 мелочей, которые помогут побороть одиночество</div>
                </v-list-tile-content>
              </v-list-tile>

              <v-divider></v-divider>
              
              <v-list-tile ripple href="#" avatar>
                <v-list-tile-content>
                  <v-list-tile-sub-title>31 октября</v-list-tile-sub-title>
                  <div class="diary-art">Любовь vs. Бургер: влюбленные мужчины отказываются от жира</div>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>

            <v-divider></v-divider>

            <v-btn
                flat
                color="info"
                href="#">Все новости</v-btn>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs8>
      <v-card class="mb-3">
        <v-card-title>
          <h3>Знакомства на TwoHearts</h3>
        </v-card-title>
        <v-card-text class="py-0">
          <p class="pa-0 ma-0">Здесь легко находят любовь и знакомства с новыми друзьями. Только живое общение с реальными людьми со всего мира. 800 тысяч посетителей каждый день. Удобный поиск по крупнейшей базе анкет знакомств, фотографии.</p>
          <v-slide-y-transition>
            <div v-show="showFullIntro">
              <h2>Международная служба знакомств — идеальное место для общения одиноких людей</h2>
              <p>Желаете найти настоящую любовь, лучшего друга или интересного собеседника? Для того чтобы соединять сердца и дарить радость общения существует официальный сайт знакомств LovePlanet.</p>
              <p>Сегодня на портале зарегистрировано несколько миллионов пользователей. Многие из них, благодаря нашему сайту знакомств, нашли друзей, создали крепкие семьи.</p>
              <p>LovePlanet каждый день посещают тысячи пользователей. Ищите объявления на популярном сайте знакомств без регистрации и, возможно, уже сегодня Вы найдете свою вторую половинку, друга или интересного собеседника.</p>

              <h3>Зачем нужна регистрация?</h3>
              <p>LovePlanet каждый день посещают тысячи пользователей. Ищите объявления на популярном сайте знакомств без регистрации и, возможно, уже сегодня Вы найдете свою вторую половинку, друга или интересного собеседника.</p>

              <ol>
                <li>Продвинутые способы подбора партнера. Современная система поиска включает более 100 критериев и позволяет завести интересные знакомства в реальном мире!</li>
                <li>Просмотр и комментирование фото.</li>
                <li>Обмен сообщениями в личном чате.</li>
                <li>Создание полноценной анкеты.</li>
                <li>Доступ к премиум-сервисам. Оплатите пользование опциями c телефона через смс, и Ваш профиль будет занимать первые места в каталоге поиска!</li>
                <li>Отправка и получение симпатий.</li>
                <li>Ведение дневника.</li>
                <li>Участие в Топах, конкурсах и акциях сайта сделает Вас популярным членом сообщества бесплатно.</li>
              </ol>

              <h3>Как наши пользователи используют сервис знакомств LovePlanet?</h3>
              <ol>
                <li>Поиск второй половинки. Смотрите фото в режиме онлайн в Интернете и знакомьтесь с самыми привлекательными девушками и парнями в России и за рубежом.</li>
                <li>Для брака и серьезных отношений. Удобный поиск доступен людям всех возрастов.</li>
                <li>Поиск новых друзей и собеседников. Общение в чате на нашем сайте знакомств бесплатно и доступно круглосуточно!</li>
                <li>Поиск людей для совместных поездок. «Не хочу путешествовать в одиночестве», — думаете Вы? И это вполне нормальное желание! Находите спутников в сети, обменивайтесь номерами телефонов и отправляйтесь на отдых с удовольствием!</li>
              </ol>




              <p>На сегодняшний день к знакомствам с помощью Интернета прибегают самые разные люди. Они могут иметь разные цели, предпочтения и мотивацию. На нашем сайте для знакомства регистрация существенно повышает шансы на успех. Здесь легко подбирать себе собеседников по ряду параметров:</p>

              <ol>
                <li>пол, ориентация;</li>
                <li>возраст;</li>
                <li>город проживания;</li>
                <li>внешние данные;</li>
                <li>увлечения;</li>
                <li>знак Зодиака;</li>
                <li>сфера деятельности.</li>
              </ol>

              <p>Мужских анкет зачастую оказывается больше, но женщины обычно являются более активными. Наши бесплатные знакомства позволяют подобрать себе пару согласно всем пожеланиям и особенностям. Нередко кажется, что в реальной жизни найти спутника или партнера очень сложно, рядом нет тех, кто поймет и оценит. Но совершенно другое дело знакомства без регистрации в Сети или полноценное участие в жизни портала. Здесь действительно много людей, которые ищут друг друга, а благодаря четкому указанию целей и отсутствию территориальных ограничений поиски становятся простыми и результативными.</p>

              <p>Данные в своем резюме всегда можно изменить, делать это даже необходимо, чтобы информация всегда оставалась актуальной.</p>

              <p>Многие используют сайт лавпланет для знакомства с иностранцами и дальнейшего переезда за границу. Это касается не только девушек, но и мужчин – сегодня вполне распространены такие отношения и браки, которые позволяют в корне изменить свою жизнь.</p>

              <h2>Поиск друзей и единомышленников</h2>

              <p>Одиночество не всегда проявляется в отсутствии партнера – часто нужно внимание, общение, разговор с людьми, способными разделить точку зрения. В основном у среднестатистического взрослого человека нет времени на интересный досуг. Кроме того, масса тематических мероприятий или хобби требует также существенных затрат. Найти интересных собеседников поможет наш бесплатный сайт знакомств.</p>

              <p>Есть масса преимуществ дружеского общения в сети:</p>

              <ol>
                <li>отсутствие территориальных ограничений;</li>
                <li>возможность указывать регион для поиска единомышленников в своем городе;</li>
                <li>отсутствие финансовых затрат;</li>
                <li>выход на связь в любое удобное время;</li>
                <li>огромное количество зарегистрированных пользователей и ежедневное их пополнение;</li>
                <li>на сайт знакомств вход может быть осуществлен как с ПК, так и с мобильных гаджетов, что очень удобно.</li>
              </ol>

              <p>К преимуществам можно отнести также безопасность сайта знакомств – регистрация предполагает указание личностной информации, но вовсе не обязательно давать доступ к адресу, телефону и прочим контактным данным. Благодаря этому только при обоюдном желании и готовности может произойти личная встреча, иначе собеседник не сможет найти Вас.</p>

              <h3>Романтические отношения, флирт</h3>

              <p>Подавляющее большинство пользователей проводят время на сайте, флиртуя с привлекающими их людьми. Даже если цель знакомства изначально другая, то все равно некоторое время проходит в необязывающих сообщениях. Многие желающие познакомиться не рассчитывают на длительную связь, но, начиная с малого, нередко возникают прочные отношения.</p>

              <p>Наш сайт знакомств без регистрации бесплатно поможет найти много интересных собеседников и компанию для совместного времяпровождения. Удобно наличие сортировки по территориальному признаку, если нужен компаньон для посещения культурных мероприятий или просто милых встреч за чашкой кофе после работы.</p>

              <p>Достаточно большое количество пользователей предпочитает флирт в сети, без перехода к реальному общению. Такой подход помогает поднять свою самооценку, научиться общаться с противоположным полом, удовлетворить свою тягу к разнообразию без физического контакта. Такое общение вполне может подкрепляться обменом фото, в том числе интимного характера, а также видеочатами.</p>

              <h3>Создание семьи, серьезные отношения</h3>

              <p>В сравнении с традиционными методами знакомства планета любви имеет огромное преимущество в сфере серьезных знакомств – подбор пары по заданным параметрам. Такой подход позволяет найти спутника, отталкиваясь в первую очередь от логических умозаключений, а не на основе бездумной симпатии, как нередко случается в жизни. Безусловно, внешность тоже играет роль, поэтому серьезный сайт знакомств подразумевает размещение фотографий и целых альбомов. Так можно оценить человека по многим факторам, присмотреться к нему. Общение всегда проще, когда уже есть общие темы, взгляды и увлечения.</p>

              <p>Посещая сайт знакомств для серьезных отношений, стоит заполнять профиль соответствующе – указать важные аспекты своей жизни, черты характера, привычки, сферу деятельности. Необходимо обозначить черты, которые должны быть в партнере, чтобы сразу отсеять неподходящих кандидатов. Не стоит бояться спугнуть потенциальных поклонников и умалчивать что-то – на сайте loveplanet огромное количество пользователей, среди которых обязательно будут люди, которые ищут именно Вас, со всеми странностями и особенностями.</p>

              <h3>Поиск партнеров для секса</h3>

              <p>Наладить свою сексуальную жизнь проще всего с помощью знакомства на loveplanet. Именно здесь огромная база самых разнообразных пользователей, среди которых найдется идеальный партнер для каждого. На сайте масса анкет представителей сообщества ЛГБТ, людей с нетрадиционными наклонностями и предпочтениями. При общении в сети гораздо легче раскрыться и признаться в своих фантазиях, поэтому тут легко подобрать подходящего партнера.</p>

              <p>Среди основных целей таких знакомств можно выделить:</p>

              <ol>
                <li>постоянные встречи для секса;</li>
                <li>разовая связь без обязательств;</li>
                <li>проведение видеосвязи с целью виртуального секса;</li>
                <li>секс в других городах и странах во время путешествий, командировок;</li>
                <li>поиск пар или партнеров для получения нового опыта.</li>
              </ol>

              <p>Многие могут скрывать личную информацию при таком типе знакомств, но всегда стоит пообщаться в сети, прежде чем соглашаться на личную встречу. Не лишним будет выйти предварительно на видеосвязь, это поможет составить мнение о человеке.</p>

              <p>Удобство поиска партнеров через Интернет обусловлено простотой и высокой скоростью подбора – сразу можно указать основные пожелания и требования, свои условия, возможности, табу и предпочтения. Совпадения не заставят себя ждать.</p>  

              <h3>Совместное путешествие</h3>

              <p>Сегодня путешествия стали доступны и безопасны, но далеко не все могут осуществить свои желания из-за отсутствия компании. Совместные поездки не только веселее, но зачастую проще и дешевле. Найти себе спутника (или целую компанию) для любого типа поездки поможет сайт лавпланет. Даже если целью является экскурсионный тур по ближайшим городам, здесь можно найти достойных спутников для этого.</p>

              <p>Многие грезят о далеких заморских странах, но ближайшее окружение не осмеливается поддержать. Такую поездку лучше осуществить с интересными единомышленниками, которых позволит отыскать планета любви сайт знакомств. Среди пользователей есть бесстрашные опытные туристы и неискушенные, но инициативные люди. Для максимального комфорта легко подобрать себе компаньона по возрасту. Также немаловажен пол – можно взять с собой человека для романтики или создания впечатления пары для облегчения регистраций, к примеру. Или же объединиться ради покорения чужих сердец и обеспечения спокойной поездки без обоюдных любовных переживаний.</p>

              <p>Также сайт будет отличным методом найти знакомства среди местного населения. Познакомиться с жителем пункта назначения очень удобно, ведь он может стать гидом, помощником, консультантом, другом, а может и кем-то большим.</p>

              <p>Какая бы ни была цель, наш сайт работает для помощи людям в поиске подходящих знакомств. Каждый может проявить себя, отбросить комплексы и предубеждения, попробовать нечто новое, открыть для себя целый мир, где есть место всем, независимо от вкусов, наклонностей, ориентации, возраста, пола, веса и семейного положения. Регистрируйтесь прямо сейчас и станьте ближе к своему счастью!</p>
            
            </div>
          </v-slide-y-transition>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon @click="showFullIntro = !showFullIntro">
            <v-icon>{{ showFullIntro ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>

      <!-- <v-card class="mb-5">
        <v-layout>
          <v-flex>
            <v-card-title class="title">Результаты поиска</v-card-title>
            <v-card-text>
              Мы нашли людей по вашим параметрам. Увеличьте свою
              популярность, подняв анкету в результатах поиска!
            </v-card-text>
          </v-flex>
          <v-flex class="pr-3 pt-2">
            <v-btn @click.stop="parnerSelectorVisible = !parnerSelectorVisible">
               <v-icon left dark>settings</v-icon>
              {{ parnerSelectorVisible ? 'Скрыть настройки' : 'Настроить поиск' }}
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
      <v-scale-transition> -->
      <partner-selector
        class="mb-5"
        :user-data="me.data"
        :controls="['Искать','Идёт поиск']"
        :gender="{label:'Я',items:[{value:1,text:'Парень'},{value:0,text:'Девушка'}]}"
        :looking-for="{label:'Ищу',items:[{value:1,text:'Парня'},{value:0,text:'Девушку'}]}"
        :place="{label:'Регион',misc:['Нажмите &#60;kbd&#62;enter&#60;/kbd&#62; для ввода']}"
        :age-range="{head:'Ожидаемый возраст'}"
        :purpose="{label:'Цель знакомства',items:[{value:-1,text:'Не имеет значения'},{value:0,text:'Поиск друзей'},{value:1,text:'Романтические отношения'},{value:2,text:'Создание семьи'},{value:3,text:'Секс'},{value:4,text:'Совместное путешествие'}]}"
        :new-users="{label:'новые пользователи'}"
        :online="{label:'сейчас онлайн'}"
        :near-me="{label:'рядом co мной'}"
        :expansion-panel="{head:'Расширенный поиск'}"
        :interests="{label:'Общие интересы',hint:'Не более 5 интересов',misc:['Вы уже ввели 5 интересов']}"
        :weight="{head:'Вес'}"
        :height="{head:'Рост'}"
        :languages="{label:'Знает языки',items:[{text:'Английский',value:1,skill:0},{text:'Немецкий',value:2,skill:0},{text:'Французский',value:3,skill:0},{text:'Итальянский',value:4,skill:0},{text:'Испанский',value:5,skill:0},{text:'Португальский',value:6,skill:0},{text:'Украинский',value:7,skill:0},{text:'Русский',value:8,skill:0},{text:'Иврит',value:9,skill:0},{text:'Арабский',value:10,skill:0}]}"
        :skills="{label:'Уровень владения языком',items:[{text:'начальный',value:0},{text:'средний',value:1},{text:'продвинутый',value:2},{text:'родной',value:3}]}"
        :relation="{label:'Отношения',items:[{value:1,text:'Свободен/Свободна'},{value:2,text:'Занят/Занята'},{value:3,text:'В браке, живет порознь'},{value:4,text:'Разведен/Разведена'},{value:5,text:'Вдовец/Вдова'}]}"
        :children="{label:'Есть ли дети',items:[{value:1,text:'Детей нет, и не хочет'},{value:2,text:'Возможны в будущем'},{value:3,text:'Дети есть, больше не хочет'},{value:4,text:'Дети есть, хочет еще'}]}"
        :education="{label:'Образование',items:[{text:'Среднее',value:1},{text:'Среднее-специальное',value:2},{text:'Студент(-ка)',value:3},{text:'Неполное высшее',value:4},{text:'Высшее',value:5},{text:'Несколько высших',value:6}]}"
        :income="{label:'С материальным положением',items:[{value:1,text:'Есть небольшой стабильный доход'},{value:2,text:'Средний доход'},{value:3,text:'Очень хорошо зарабатывает'}]}"
        :smoke="{label:'Отношение к курению',items:[{value:1,text:'Не курит, не терпит курящих'},{value:2,text:'Не курит, к курящим относится нейтрально'},{value:3,text:'Курит время от времени'},{value:4,text:'Курит каждый день'}]}"
        :drink="{label:'Отношение к алкоголю',items:[{value:1,text:'Не пьет, не терпит выпивающих'},{value:2,text:'Не пьет, к выпивающим относится нейтрально'},{value:3,text:'Выпивает иногда в компаниях'},{value:4,text:'Любит выпить'}]}"
        :zodiac="{label:'Со знаком Зодиака',items:[{value:1,text:'Козерог'},{value:2,text:'Водолей'},{value:3,text:'Рыбы'},{value:4,text:'Овен'},{value:5,text:'Телец'},{value:6,text:'Близнецы'},{value:7,text:'Рак'},{value:8,text:'Лев'},{value:9,text:'Дева'},{value:10,text:'Весы'},{value:11,text:'Скорпион'},{value:12,text:'Стрелец'}]}"
        :body="{label:'Телосложение',items:[{text:'Стройное',value:1},{text:'Спортивное',value:2},{text:'Есть пара лишних кило',value:3},{text:'Полное',value:4}]}"
        :eyes="{label:'С цветом глаз',items:[{text:'Карие',value:1},{text:'Серые',value:2},{text:'Голубые',value:3},{text:'Зеленые',value:4}]}"
        :hair="{label:'С цветом волос',items:[{text:'Блонд',value:1},{text:'Русые',value:2},{text:'Шатен',value:3},{text:'Черные',value:4},{text:'Рыжие',value:5},{text:'Седые',value:6},{text:'Мелированные',value:7},{text:'Голова бритая наголо',value:8}]}"
        :extras="{label:'На теле есть',items:[{value:0,text:'Пирсинг'},{value:1,text:'Татуировки'},{value:2,text:'Шрамы'},{value:3,text:'Веснушки'}]}"
        :sponsore="{label:'Материальная поддержка',items:[{value:2,text:'Поддержу'},{value:1,text:'Ищу поддержку'}]}"
        :car="{label:'Наличие автомобиля',items:[{text:'Нет',value:1},{text:'Есть',value:2}]}"
        :sport="{label:'Спорт',items:[{value:0,text:'Бег'},{value:1,text:'Ходьба'},{value:2,text:'Фитнес'},{value:3,text:'Плавание'},{value:4,text:'Велосипед'},{value:5,text:'Ролики'},{value:6,text:'Лыжи'},{value:7,text:'Качалка'},{value:8,text:'Экстрим'},{value:9,text:'Единоборства'},{value:10,text:'Йога'},{value:11,text:'Командные игры'},{value:12,text:'Танцы'},{value:13,text:'Футбол'},{value:14,text:'Волейбол'},{value:15,text:'Хоккей'},{value:16,text:'Коньки'},{value:17,text:'Пилатес'},{value:18,text:'Гимнастика'}]}"
        :mortgage="{label:'Жилищные условия',items:[{value:1,text:'Собственная квартира'},{value:2,text:'Дом, коттедж'},{value:3,text:'Комната в общежитии, коммуналка'},{value:4,text:'Снимает квартиру'},{value:5,text:'Снимает комнату'},{value:6,text:'Живет у родителей'}]}"
        :orientation="{label:'Ориентация',items:[{value:1,text:'Гетеро'},{value:2,text:'В поиске себя'},{value:3,text:'Пансексуал'},{value:4,text:'Би'},{value:5,text:'Гей/Лесби'}]}"
        :dating-as="{label:'Знакомится как пара',items:[{value:1,text:'М+Ж'},{value:2,text:'М+М'},{value:3,text:'Ж+Ж'}]}"
        :looking-as="{label:'Ищет пару',items:[{value:0,text:'М+Ж'},{value:1,text:'М+М'},{value:2,text:'Ж+Ж'}]}"
        :sex-role="{label:'Роль в сексе',items:[{value:1,text:'Универсальная'},{value:2,text:'Активная'},{value:3,text:'Пассивная'}]}"
        :sex-like-in="{label:'Нравится в сексе',items:[{value:0,text:'Классический секс'},{value:1,text:'Анальный секс'},{value:2,text:'Ролевые игры'},{value:3,text:'Публичный секс'},{value:4,text:'Подглядывание'},{value:5,text:'Шимейл'},{value:6,text:'Кросс-дрессинг'},{value:7,text:'MILF'},{value:8,text:'Большой член'},{value:9,text:'Сквирт'},{value:10,text:'Фистинг'},{value:11,text:'Фингеринг'},{value:12,text:'Взаимная мастурбация'},{value:13,text:'Трибадизм'},{value:14,text:'Фрот'},{value:15,text:'Золотой дождь'}]}"
        :sex-oral="{label:'Оральный секс',items:[{value:16,text:'Минет'},{value:17,text:'Глубокий минет'},{value:18,text:'МБР'},{value:19,text:'Куннилигус'},{value:20,text:'Вылизывание тела'},{value:21,text:'Вылизывание ног'},{value:22,text:'Анилингус'},{value:23,text:'Поза 69'}]}"
        :sex-group="{label:'Групповой секс',items:[{value:24,text:'Свинг'},{value:25,text:'Оргия'},{value:26,text:'ЖМЖ'},{value:27,text:'МЖМ'},{value:28,text:'МЖМЖ'},{value:29,text:'Куколд'}]}"
        :sex-bdsm="{label:'БДСМ',items:[{value:30,text:'Доминирование'},{value:31,text:'Подчинение'},{value:32,text:'Свитчинг'},{value:33,text:'Порка'},{value:34,text:'Бондаж'},{value:35,text:'Игры с дыханием'},{value:36,text:'Беби-плей'},{value:37,text:'Пет-плей'},{value:38,text:'Пеггинг'},{value:39,text:'Страпон'},{value:40,text:'Принуждение'},{value:41,text:'Пси-доминация'},{value:42,text:'Туалетные игры'},{value:43,text:'Фейсситтинг'},{value:44,text:'Садо'},{value:45,text:'Мазо'}]}"
        :sex-fetish="{label:'Фетиш',items:[{value:46,text:'Кружевное белье'},{value:47,text:'Латекс'},{value:48,text:'Кожа'},{value:49,text:'Нейлон'},{value:50,text:'Фут-фетиш'}]}"
        :security="csrf"
      ></partner-selector>
      <!-- </v-scale-transition> -->

      <v-layout class="mb-5" row wrap>
        <v-flex class="mb-4" v-for="(user,index) in users.model" :key="index">
          <user-card 
            :user="{
              name:user.name,
              secondaryProfilePic:user.secondaryProfilePic || (user.gender ? '/images/male.jfif' : '/images/female.png'),
              photosCount:user.photosCount,
              ageData:[user.dateOfBirth].concat(yearSlov),
              place:user.place,
              lastSeenAt:user.lastSeenAt,
              userDeviceType:user.userDeviceType,
              gender:user.gender,
              online:user.online,
              uuid:user.uuid,
              userCustomURL:user.userCustomURL
            }"
            :astro-array="astroArray"
            :controls="{tt:'Посмотреть страницу',btn:'Написать'}"
            :offline-text-data-array="[['Была', 'Был'],['в']]"></user-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  <v-layout justify-center>
    <v-flex class="d-flex" <%=me ? 'xs4' : 'xs6'%>>
    <% if (me) { %>
      <v-form class="text-xs-center" method="POST" action="/search">
        <input type="hidden" name="_csrf" :value="csrf" />
        <input type="hidden" name="gender" :value="JSON.stringify(me.data.gender)" />
        <input type="hidden" name="lookingFor" :value="JSON.stringify(me.data.lookingFor)" />
        <input type="hidden" name="place" :value="JSON.stringify(me.data.place)" />
        <input type="hidden" name="purpose" :value="JSON.stringify(me.data.purpose)" />
        <input type="hidden" name="ageRange" :value="JSON.stringify(me.data.ageRange)" />
        <v-btn 
          @click.stop="findMore = true"
          :disabled="findMore"
          :loading="findMore"
          color="info" 
          type="submit"
          round
          large>Найти больше анкет</v-btn>
      </v-form>
    <% }else { %>
      <v-btn href="/signup" large dark round block color="green lighten-1">Зарегистрироваться и начать знакомиться</v-btn>
    <% } %>
    </v-flex>
  </v-layout>
</v-container>
